<h2>Search Authors</h2>
<form action="/authors" method="get">
  <label for="">Name</label>
  <%let searchValue = locals.searchOptions && searchOptions.name %>
  <input type="text" name="name" id="" value="<%=searchValue%>" />
  <button type="submit">Search</button>
</form>
<br />

<%if(locals.authors == null){%> <%return%> <%}else{%> <%
authors.forEach(author=> { %>
<div><%=author.name%></div>
<a href="/authors/<%=author.id%>">View</a>
<a href="/authors/<%=author.id%>/edit">Edit</a>
<%-include("../partials/deleteForm", {url: `/authors/${author.id}`})%> <%})%>
<%}%>
